<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speedrun Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Speedrun Leaderboard</h1>
    
    <!-- Submit Run Button -->
    <div class="submit-run-button">
        <a href="{{ url_for('submit') }}">
            <button>Submit Run</button>
        </a>
    </div>
    
    <div class="tabs">
        <button class="tab-button" onclick="loadLeaderboard('game1')" id="game1">Port%</button>
        <button class="tab-button" onclick="loadLeaderboard('game2')" id="game2">Tutorial%</button>
        <button class="tab-button" onclick="loadLeaderboard('game3')" id="game3">Dog%</button>
    </div>
    <div class="leaderboard">
        <table id="leaderboard-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Time</th>
                    <th>Video</th>
                    <th>Submission Time</th>
                </tr>
            </thead>
            <tbody id="leaderboard-body">
                <!-- Leaderboard data will be inserted here by JavaScript -->
            </tbody>
        </table>
    </div>
    <h2>IMPORTANT! You must read the rules before submitting a run.</h2>
    <b> Failure to follow them will result in removal of submissions, or in the case of cheating, a permanent ban from submitting and the Discord server.</b>
    <div class="rules-button">
        <a href="{{ url_for('rules') }}">
            <button>View the rules</button>
        </a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
