<html>
  <head>
    <title>Speedrun Rules</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <a href="/">Back to Leaderboard</a>
    <h1>Rules</h1>
    <div id="rules">
      <h1 id="rules-for-unofficial-speedrun-leaderboard">RULES FOR UNOFFICIAL SPEEDRUN LEADERBOARD</h1>
      <ul>
      <li>Troll submissions will get rejected and may result in a permanent ban from the leaderboards.</li>
      <li>Full uncut videos must be submitted on YouTube for the run to be accepted, other video sharing sites are allowed but YouTube is preferred. If I cannot view or time a video I will reject run and tell you to resubmit on another site.</li>
      <li>Editing a video is NOT allowed, overlays/watermarks are an exception but if they&#39;re too intrusive the run will be rejected.<ul>
      <li>Allowed: Watermark from using the free version of a recording software, an overlay from a speedrunning timer tool such as LiveSplit</li>
      <li>Not Allowed: Like and Subscribe graphics, advertisements to join Discord server, etc.</li>
      </ul>
      </li>
      <li>Leaving the game running during a run is okay but no splices and breaks will add to your time. Ideally you pause in the menu/settings book and LEAVE RECORDING ON.</li>
      <li>Leave all audio and music on, do not intentionally overlay your own music or sound effects through editing.</li>
      <li>Please leave in the full recording. Although category rules contain when the time starts and stops, it is NOT your job to trim your recording like that. If you trim the recording too close to the start/stop times, your run will be rejected.</li>
      <li>On this unofficial leaderboard, all runs are &quot;Offline&quot;, meaning you cannot use the daily challenge coins to get a head start. Money hotline is allowed.</li>
      <li>Read the rules of each category before submitting a run.</li>
      </ul>
      <h1 id="rules-for-individual-categories">RULES FOR INDIVIDUAL CATEGORIES</h1>
      <h2 id="rules-for-tutorial-">Rules for Tutorial%</h2>
      <ul>
      <li>Time starts after clicking on &quot;New Game&quot; or &quot;PLAY&quot; on the main menu after the transition disappears (the circle has fully closed).</li>
      <li>Time ends as soon as you click the yes button to sleep on day 0 (the buttons immediately disappear as soon as they are clicked.</li>
      </ul>
      <h2 id="rules-for-port-">Rules for Port%</h2>
      <ul>
      <li>You may steal anything that is openable at the construction ducks (eg. food crates, lumber, coins).</li>
      <li>Non-openable crates such as dynamite and empty crates are not allowed. Non-crate items besides lumber are also not allowed.</li>
      <li>Time starts after clicking on &quot;New Game&quot; or &quot;PLAY&quot; on the main menu after the transition disappears (the circle has fully closed).</li>
      <li>Time ends as soon as you click the yes button to crack open the crate/deposit lumber at the ducks.</li>
      <li>Must use Sneaky Sasquatch 1.9.0 or later.</li>
      <li>Cannot use any glitches that may provide an unfair advantage (out of bounds, clip through walls, item duplication, teleportation).</li>
      </ul>
    </div>
    <a href="/">Back to Leaderboard</a>
  </body>
</html>